/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
    .navbar {
        /*height: 145px;*/
    }

    .navbar .container .nav-right {
        display: none;

        /*flex-direction: column;*/
        flex-wrap: wrap;
        width: 100%;
    }

    .nav-right li {
        margin-top: 5px;
    }

    .nav-right li:last-child a {
        margin-top: 6px;
        display: block;
        margin-bottom: 10px;
    }

    .search-container {
        display: none;
    }

    .nav-toggle-label {
        display: block;
        color: white;
        font-size: 2rem;
        margin-top: .25rem;
    }

    .nav-toggle:checked ~ .nav-right {
        display: flex;
    }

    .nav-toggle:checked ~ .search-container {
        display: block;

    }

    .nav-right, .search-container {


    }


    .search-container .search-wrapper input {
        font-size: 18px;
        margin-left: 5%;
    }

    .search-container .search-wrapper input:placeholder-shown {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .center {
        margin: 0;
    }

    .recent-section .topic {
        display: block;
    }

    .recent-section .topic-body {
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95%;
    }

    .recent-section .topic .topic-image {
        width: 100%;
        max-width: 100%;
    }

}